body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-26xl: 45px;
  --font-size-93xl: 112px;
  --font-size-60xl: 79px;
  --font-size-33xl: 52px;
  --font-size-6xl: 25px;
  --font-size-8xl: 27px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #023d5e;
  --color-skyblue: #3eb0c8;

  /* Border radiuses */
  --br-xl: 20px;
}
